<!DOCTYPE html>
<html>
<head>
  <title><%= [yield(:title), 'Courts', 'GOV.UK'].join(' – ') %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <main id="content" role="main" class="outer-block">
      <div id="courts-frontend" class='inner-block'>
        <%= yield %>
      </div>
    </main>
  </div>
</body>
</html>
